@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,300&display=swap');
@import 'react-toastify/dist/ReactToastify.css';

body
  font-size: 16px
  color: #333333
  margin: 0
  font-family: -apple-system, Raleway, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  background: #F1FEEF

